
.back-image {
	background: url("../img/nikecover.jpg");
  	background-size: cover;
  	background-repeat:no-repeat;
  	margin:0 auto;
  	repeat: no repeat;
}
a {
	display:flex;
	align-text:left;

}

h1 {
	color:white;
	background:black;
	text-align:center;
	padding:20px;
	margin-top:1px;
}

