html, body {
  padding:0;
  margin:0;
  box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6 {
  font-family: $font;
  font-weight: $heading;
}
p {
  font-family: $font;
  font-weight: $paragraph;
}

main {
  display: block;
  box-sizing: inherit;
  width: 100%;
  font-family: $font;
  font-weight: $paragraph;
  
  
  .navbar {
    position: fixed;
    width:84.5%;
    height:100px;
    top:0;
    right:0;
    background: #070708;
    
    @include medium {
      width:75%;
    }
    @include small {
      position: static;
      width:100%;
    }
  }
  .page:first-of-type {
    margin-top:60px;
  }
  .page {
    min-height:100%;
    top:100px;
    margin-left:15.5%;
    background: #070708;
    
    @include medium {
      width:75%;
      margin-left:25%
    }
    @include small {
      width:100%;
      margin-left:0;
    }
  }
  
}