#salesman-stats{
	padding:10px;
	display:flex;
	justify-content:center;
	flex-wrap: wrap;

	.card-sales-stats{
		margin:35px 30px 30px 30px;
		padding:10 10 10 10px;
		box-shadow:0 6px 16px -4px $bgSidebar;
		background: $bgBody;
		text-align: center;
		.profile-banner{
			h4{
				color: $bgSidebar;
			}
		}
		.daily, .monthly {
			
			display:flex;
			flex-wrap:wrap;
			h3 {
				//flex:20;
				width:100%;
				color: $bgSidebar;
				margin: 12px 0 40px 0;
			}
			.target, .sales {
				color: $bgNav;	
				flex:1;
				position:relative;
				&:before {
					position: absolute;
					bottom:100%;
					width: 100%;
    				left: 0;
				}			
			}
			.target {
				&:before{
					content:"Target";					
				}
			}
			.sales {
				&:before{
					content:"Sales";
				}
			}

		}
		.graph {
			background:$bgBody;
			color:$danger;
			
		}
		.profile-banner{
			background-image: url("../img/vanessa.jpg");
			height: 300px; 
			background-repeat: no-repeat;  
			background-position-x: 50%;
		}

	}
}