main.light {
	.page {
		background:#F9F29D;
		color:#000;
	}
	.profile-container{
		background: url("../img/lightnike.jpg");
		display:cover;
	}
	.navbar{
		color:#fff;
        background: #B7E394;
		
	}
	.dashmenu{
		background:blue;
		color:green;

	}
	
}