// VARIABLES 

$font: 'Roboto Slab', serif;
$heading: 700;
$paragraph: 400;
$danger: #a70000;
$success: #29930f;
$default: #499cb5;

$bgSidebar: #404;
$bgNav: #1c7ed6;
$bgBody: #fff;

$lightText: #e9fac8;
$darkText: #f9f0f7;
